<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Company Site: {% block title %}Page{% endblock %}</title>
    {% block extrahead %}{% endblock %}
    
     <link rel="stylesheet" type="text/css" media="screen" href="/medias/css/jquery-ui-custom.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/medias/css/ui.jqgrid.css
" />
	<link rel="stylesheet" type="text/css" media="screen" href="/medias/css/ui.multiselect.css
" />

    
    <script src="/medias/js/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="/medias/js/jquery.jqGrid.min.js" type="text/javascript"></script>
  	
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>