{% extends "duty/base.html" %}

{% block content %}

<script>
	//@see: http://www.trirand.com/blog/jqgrid/jqgrid.html
	//@see: http://blog.csdn.net/a416090287/article/details/8334070
	$(document).ready(function() {
		jQuery("#grid_id").jqGrid({
			url : 'http://127.0.0.1:8000/duty/duty_json',
			datatype : "json",
			mtype: 'GET',
			height : 250,
			colNames : ['班组','姓名', '工程', '月份','日期','合计'],
			colModel : [{
				name : 'classes',
				index : 'classes',
				width : 60,
				align: 'center',
				sorttype : "int"
			}, {
				name : 'name',
				index : 'name',
				width : 100
			},{
				name : 'project',
				index : 'project',
				width : 100
			}, {
				name : 'month',
				index : 'month',
				width : 280,
				align: 'center',
				sorttype : "float"
			}, {
				name : 'days',
				index : 'days',
				width : 280,
				sortable : false
			}, {
				name : 'total',
				index : 'total',
				width : 280,
				sortable : false
			}],
			viewrecords : true,
			multiselect : false,
			caption : "姓名/日期",
			pager: '#grid_pager',
			ondblClickRow: function(id){   //双击行 
                alert("You double click row with id: "+id);  
            },   
            onSelectRow: function(ids) { //单击选择行  
                // alert("You click row with id: "+ids);
                var gr = jQuery("#grid_id").jqGrid('getGridParam','selrow');
				if( gr != null ) jQuery("#grid_id").jqGrid('viewGridRow',gr,{height:280,reloadAfterSubmit:false});
				else alert("Please Select Row");
            },  
		});
		
		jQuery("#grid_id").jqGrid('navGrid','#grid_pager',{del:true,add:true,edit:false});
		// jQuery("#grid_id").jqGrid('navGrid','#grid_pager',{del:false,add:false,edit:false,search:false});
		// jQuery("#grid_id").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
		// jQuery("#grid_id").jqGrid('navGrid','#grid_pager',{});
		
	});

</script>

<table id="grid_id"></table>
<div id="grid_pager"></div>


<div id="messages">
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{message.tags}}">
		<a class="close" data-dismiss="alert">×</a>
		{{message}}
	</div>
	{% endfor %}
	{% endif %}
</div>

{% endblock %}