{% extends "contacts/base.html" %}

{% block content %}

<script>
	$(document).ready(function() {
		jQuery("#list4").jqGrid({
			url : 'http://localhost:8000/json',
			datatype : "json",
			height : 250,
			colNames : ['序号', '姓名', '性别', '职务', '人工费/日', '身份证', '联系方式', '备注'],
			colModel : [{
				name : 'id',
				index : 'id',
				width : 60,
				sorttype : "int"
			}, {
				name : 'name',
				index : 'name',
				width : 100
			}, {
				name : 'sex',
				index : 'amount',
				width : 80,
				align : "right",
				sorttype : "float"
			}, {
				name : 'job',
				index : 'tax',
				width : 80,
				align : "right",
				sorttype : "float"
			}, {
				name : 'laborCost',
				index : 'total',
				width : 80,
				align : "right",
				sorttype : "float"
			}, {
				name : 'IDcard',
				index : 'total',
				width : 280,
				align : "right",
				sorttype : "float"
			}, {
				name : 'contact',
				index : 'total',
				width : 280,
				align : "right",
				sorttype : "float"
			}, {
				name : 'notes',
				index : 'note',
				width : 280,
				sortable : false
			}],
			viewrecords : true,
			multiselect : false,
			caption : "新建花名册"
		});
	});

	$("#btn_contact_new").fancybox();

</script>

<button id="btn_contact_new" class="btn" href="#inline">
	新建
</button>

<table id="list4"></table>
<div id="pager2"></div>

<div style="display: none;">
	<div id="inline">
		<form id="contact" action="#" method="get" name="contact">
			<label for="email">新建花名册</label>

			<label for="name">姓名</label>
			<input id="name" name="name" />

			<label for="sex">性别</label>
			<input id="sex" name="sex" />

			<label for="job">职务</label>
			<input id="job" name="job" />

			<label for="laborCost">人工费</label>
			<input id="laborCost" name="laborCost" />

			<label for="IDCard">身份证</label>
			<input id="IDCard" name="IDCard" />

			<label for="contact">联系方式</label>
			<input id="contact" name="contact" />

			<label for="notes">备注</label>
			<input id="notes" name="notes" />

			<br>
			<button id="create">
				新建
			</button>
		</form>
	</div>
</div>

<div id="messages">
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{message.tags}}">
		<a class="close" data-dismiss="alert">×</a>
		{{message}}
	</div>
	{% endfor %}
	{% endif %}
</div>

{% endblock %}