{% extends "contacts/base.html" %}

{% block content %}

<script>
	//@see: http://www.trirand.com/blog/jqgrid/jqgrid.html
	//@see: http://blog.csdn.net/a416090287/article/details/8334070
	$(document).ready(function() {
		jQuery("#grid_id").jqGrid({
			url : 'http://127.0.0.1:8000/contact/contact_json',
			datatype : "json",
			mtype: 'GET',
			colNames : ['序号', '姓名', '性别', '职务', '人工费/日', '身份证', '联系方式', '备注'],
			colModel : [{
				name : 'id',
				index : 'id',
				width : 60,
				editable:false,
				sorttype : "int"
			}, {
				name : 'name',
				index : 'name',
				editable:true,
				width : 100
			}, {
				name : 'sex',
				index : 'amount',
				width : 80,
				align : "right",
				editable:true,
				sorttype : "float"
			}, {
				name : 'job',
				index : 'tax',
				width : 80,
				align : "right",
				editable:true,
				sorttype : "float"
			}, {
				name : 'laborCost',
				index : 'total',
				width : 80,
				align : "right",
				editable:true,
				sorttype : "float"
			}, {
				name : 'IDcard',
				index : 'total',
				width : 280,
				align : "right",
				editable:true,
				sorttype : "float"
			}, {
				name : 'contact',
				index : 'total',
				width : 280,
				align : "right",
				editable:true,
				sorttype : "float"
			}, {
				name : 'notes',
				index : 'note',
				width : 280,
				editable:true,
				sortable : false
			}],
			autowidth: true,
			autoHeight: true,
			multiselect: true,
			multiselectWidth: 25,
			viewrecords : true,
			multiselect : false,
			caption : "花名册列表",
			pager: '#grid_pager',
			ondblClickRow: function(id){   //双击行 
                alert("You double click row with id: "+id);  
            },   
            onSelectRow: function(ids) { //单击选择行  
                // alert("You click row with id: "+ids);
                var gr = jQuery("#grid_id").jqGrid('getGridParam','selrow');
				if( gr != null ) jQuery("#grid_id").jqGrid('viewGridRow',gr,{height:280,reloadAfterSubmit:false});
				else alert("Please Select Row");
            },  
		});
		
		jQuery("#grid_id").jqGrid('navGrid','#grid_pager',{del:true,add:true,edit:true});
		// jQuery("#grid_id").jqGrid('navGrid','#grid_pager',{del:false,add:false,edit:false,search:false});
		// jQuery("#grid_id").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
		// jQuery("#grid_id").jqGrid('navGrid','#grid_pager',{});
		
	});

</script>

<table id="grid_id"></table>
<div id="grid_pager" style="height:50px;"></div>


<div id="messages">
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{message.tags}}">
		<a class="close" data-dismiss="alert">×</a>
		{{message}}
	</div>
	{% endfor %}
	{% endif %}
</div>

{% endblock %}