{% extends "contacts/base.html" %}

{% block content %}
    <h1>Contact New</h1>
    
    <script>
    
		$(document).ready(function(){
			jQuery("#list4").jqGrid({
                url:'http://localhost:8000/json/',
                datatype: "json",
				height: 250,
			   	colNames:['序号','姓名','性别', '职务', '人工费/日','身份证','联系方式','备注'],
			   	colModel:[
			   		{name:'序号',index:'id', width:60, sorttype:"int"},
			   		{name:'姓名',index:'name', width:100},
			   		{name:'性别',index:'amount', width:80, align:"right",sorttype:"float"},
			   		{name:'职务',index:'tax', width:80, align:"right",sorttype:"float"},		
			   		{name:'人工费/日',index:'total', width:80,align:"right",sorttype:"float"},
			   		{name:'身份证',index:'total', width:80,align:"right",sorttype:"float"},
			   		{name:'联系方式',index:'total', width:80,align:"right",sorttype:"float"},		
			   		{name:'备注',index:'note', width:150, sortable:false}		
			   	],
			   	multiselect: true,
			   	caption: "新建花名册"
			  });	
			  
		});
			
	</script>

    <table id="list4"></table>
	<div id="pager2"></div>
	
	<div id="messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <a class="close" data-dismiss="alert">×</a>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
   </div>
   
{% endblock %}