{% extends "jobs/base.html" %}

{% block title %}Job List{% endblock %}

{% block content %}
	<script>
		
		var mydata = {{object_list|safe}};
			$(document).ready(function(){
				jQuery("#list4").jqGrid({
					datatype: "local",
					height: 250,
				   	colNames:['Inv No','Date', 'Client', 'Amount','Tax','Total','Notes'],
				   	colModel:[
				   		{name:'id',index:'id', width:60, sorttype:"int"},
				   		{name:'invdate',index:'invdate', width:90, sorttype:"date"},
				   		{name:'name',index:'name', width:100},
				   		{name:'amount',index:'amount', width:80, align:"right",sorttype:"float"},
				   		{name:'tax',index:'tax', width:80, align:"right",sorttype:"float"},		
				   		{name:'total',index:'total', width:80,align:"right",sorttype:"float"},		
				   		{name:'note',index:'note', width:150, sortable:false}		
				   	],
				   	multiselect: true,
				   	caption: "Manipulating Array Data"
				  });	
				  
				  for(var i=0;i<=mydata.length;i++)
					jQuery("#list4").jqGrid('addRowData',i+1,mydata[i]);
			});
		
			
	</script>
	
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">荣宇工程</a>
	    <ul class="nav nav-tabs">
			
			<li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">工程管理<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li class="offset-right dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">2012年工程<b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li class="offset-right dropdown">
					<a href="#" class="dropdown-toggle">×××工程</a>
					<ul class="dropdown-menu">
					  <li><a href="#">合同管理</a></li>
					  <li class="divider"></li>
					  <li><a href="#">进度管理</a></li>
					  <li class="divider"></li>
					  <li><a href="#">质量管理</a></li>
					  <li class="divider"></li>
					  <li><a href="#">安全管理</a></li>
					  <li class="divider"></li>
					  <li><a href="#">资料管理</a></li>
					  <li class="divider"></li>
					  <li><a href="#">人工管理</a></li>
					  <li class="divider"></li>
					  <li><a href="#">材料管理</a></li>
					  <li class="divider"></li>
					  <li><a href="#">资金管理</a></li>
					  <li class="divider"></li>
					</ul>
					<li class="divider"></li>
				  </li>  
				 </ul> 
			  </li>
	          <li class="divider"></li>
	          <li><a href="#">2013年工程</a></li>
	          <li class="divider"></li>
	          <li><a href="#">2014年工程</a></li>
	          <li class="divider"></li>
	          <li><a href="#">2015年工程</a></li>
	          <li class="divider"></li>
	        </ul>
	      </li>	
	    	
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">资金审核管理<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li class="offset-right dropdown">
				<a href="#" class="dropdown-toggle">费用审核</a>
				<ul class="dropdown-menu">
				  <li><a href="#">荣宇</a></li>
				  <li class="divider"></li>
				  <li><a href="#">荣泰</a></li>
				  <li class="divider"></li>
				  <li><a href="#">荣鑫</a></li>
				  <li class="divider"></li>
				  <li><a href="#">荣鼎</a></li>
				  <li class="divider"></li>
				  <li><a href="#">荣艺</a></li>
				  <li class="divider"></li>
				  <li><a href="#">金泰</a></li>
				  <li class="divider"></li>
				  <li><a href="#">荣瑞</a></li>
				  <li class="divider"></li>
				</ul>
			  </li>
	          <li class="divider"></li>
	          <li><a href="#">工程款审核</a></li>
	          <li class="divider"></li>
	        </ul>
	      </li>
	      
	    </ul>
	  </div>
	</div>
	
    <h1>Job List</h1>
    <table id="list4"></table>
	<div id="pager2"></div>
	
	<div id="messages">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <a class="close" data-dismiss="alert">×</a>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    </div>

{% endblock %}